@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,700);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Dosis', Arial, sans-serif;
    background: url(../img/backgrounds/background-2.jpg)center center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
header{
    text-align: center;
    padding: 10px 0 20px;

}

header h1,p{
    padding: 5px;
    color: #00001a;
}

h1{
    font-size: 36px;
}

p{
    font-size: 20px;
}

nav{
    position: fixed;
    width: 100%;
    text-align: center;
    background: rgba(153, 77, 0, 0.3);
    box-shadow: 1px 1px 10px -2px rgb(26, 26, 0);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
nav ul{
    list-style: none;
    position: relative;
    text-align: center;
    display: inline-block;
}

nav ul li{
    float: left;
    margin: 0 20px;
}

nav ul li:hover{
    background: rgba(0,0,0,.15);
}

nav ul li a{
    display: block;
    padding: 30px 20px;
    color: #00001a;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color: #ffffff;
}
nav ul ul{
    display: none;
    background:rgba(153, 77, 0, 0.5);
    position: absolute;
    top: 100%;
    border: 1px solid rgba(0,0,0,.1);
}

nav ul ul li {
    float: none;
    position: relative;
    margin: 0;
    cursor: pointer;
}
nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

nav ul ul.active{
    display: block;
}

#menuBtn{
    display: none;
    color: #00001a;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 15px;
    cursor: pointer;
}
a.back {
    display: inline-block;
    color: black;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    cursor: pointer;
}

a.back:hover { background: rgba(255,255,255,.2); }
a.back:active { background: white; }

#logo h1{
    display: inline;
}

#logo img{
    width: 80px;
}

img.social-media {
    width: 35px;
    margin: 0 20px;
}

@media (max-width: 768px){
    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
    #menuBtn{
        display: block;
        padding-top: 20px;
        border: 1px solid rgba(0,0,0,.1)
    }
    #menuBtn:hover{
        background: rgba(0,0,0,.15);
    }
    img.social-media{
        width: 25px;
    }
    nav ul{
        display: none;
        background:rgba(153, 77, 0, 0.5);
        position: absolute;
        margin: 0;
        top: 100%;
        left:0;
        width: 100%;
    }
    nav ul.active{
        display: block;
        cursor: pointer;
    }

    nav ul li{
        float: none;
        display: inline;
        margin-right: 0;
        top:100%;

    }
    nav ul li:hover{
        background: rgba(0,0,0,.15);
    }
    nav ul li a{
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0,0,0,.1)
    }

    nav ul ul{
        position: relative;

    }
}

